<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div class="product-container">


<div class="row">
  <div class="col medium-up--one-quarter small--hide">
    <div class="scroll-container">
      <div class="fixed-content">
        <div class="column-container">
          <div class="column-contents">
            <div class="rte">
                <h1 class="title">{{ product.title }}</h1>
              {{ product.description }}
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="medium-up--hide one-whole ">
    <h1 class="title">{{ product.title }}<span data-product-price class="float-right">
          {{ current_variant.price | money }}
        </span></h1>
  </div>

  <!-- DESKTOP GALLERY -->
  <div class="col medium-up--one-half  small--hide">
    {% if product.images.size > 1 %}
    <div class="product-gallery-container">
      {% for image in product.images %}

            <img src="{{ image.src | img_url: '600x' }}" alt="{{ image.alt | escape }}" data-pdp-image-zoom="pdp-image-{{forloop.index}}" class="js-body-toggle-class js-zoom-img" data-body-class="product__zoom-gallery--toggled">

      {% endfor %}
    </div>
    {% endif %}
  </div>


  <!-- MOBILE GALLERY -->
<div class="small--one-whole  medium-up--hide mb3">
  <div class="js-slick-slider">

    {% for image in product.images %}
          <img src="{{ image.src | img_url: '600x' }}" alt="{{ image.alt | escape }}" data-pdp-image-zoom="pdp-image-{{forloop.index}}" class="js-body-toggle-class js-zoom-img" data-body-class="product__zoom-gallery--toggled">
    {% endfor %}

  </div>
</div>

<!-- MOBILE DESCRIPTION  -->
<div class="small--one-whole  medium-up--hide">

  <div class="dropdown__wrapper mb2">
    <div class="js-dropdown-toggle  dropdown__trigger prod-description-trigger"></div>
      <div class="dropdown__content">
        {{ product.description }}
      </div>
  </div>

  {% include "prod-options-form" %}

  </div>


  <div class="col medium-up--one-quarter  small--hide">

    <div class="scroll-container">
      <div class="fixed-content">

        <div class="column-container">
          <div class="column-contents">

    <div data-price-wrapper class="mb2">
      <span data-product-price>
        {{ current_variant.price | money }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        {% include "prod-options-form" %}

      <a href="/" class="cta-link">build a cycle set and save up to 20%</a>
    </div>
    </div>

    </div>
    </div>

  </div>
<!-- form container end -->
  </div>

</div>




</div>

</div>

    <div class="product__zoom-gallery js-body-toggle-class" data-body-class="product__zoom-gallery--toggled">
      {% for image in product.images %}

            <img src="{{ image.src | img_url: 'original' }}" alt="{{ image.alt | escape }}" id="pdp-image-{{forloop.index}}" data-image-zoom="zoom-image-{{forloop.index}}">

      {% endfor %}
    </div>


  {% section 'featured-images' %}



  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>
